body {
  font-family: Arial, sans-serif;
}

.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  margin: 0 auto;
}

.product-image {
  display: block;
  height: 150px;
  margin: auto;
  width: auto;
}

.product-title {
  font-size: 18px;
  margin-top: 10px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.buy-button {
  background-color: #FF9900;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #FFC107;
}

.container {
  max-width: 800px;
}

p {
font-size: 13px;
}


.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 5px;
}

.search-icon {
  margin-right: 5px;
}