<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Produtos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/empresas}">Empresas</a>
		<a class="navbar-brand" th:href="@{/produtos}">Produtos</a>
	</nav>

	<div class="container mt-3">
		<h2>Produtos</h2>
		<a class="btn btn-primary mb-2" th:href="@{/produtos/novo-produto}">Adicionar Produto</a>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Valor</th>
					<th>Descrição</th>
					<th>Avaliação</th>
					<th>Empresa</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${produto}">
					<td th:text="${produto.idProduto}"></td>
					<td th:text="${produto.nomeProduto}"></td>
					<td th:text="${produto.descricaoProduto}"></td>
					<td th:text="${produto.avaliacaoProduto}"></td>
					<td><span th:text="'R$ ' + ${produto.valorProduto}"></span></td>
					<td><img th:src="${produto.imgUrl}" alt="Imagem do Produto"
							style="max-width: 100px; max-height: 100px;" /></td>
					
					<td>
						<a class="btn btn-info btn-sm" th:href="@{/produtos/editar-produto/{id}(id=${produto.idProduto})}">Editar</a>
						<a class="btn btn-danger btn-sm"
							th:href="@{/produtos/deletar-produto/{id}(id=${produto.idProduto})}">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>

</html>