<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Produtos - Chama Nois</title>
	<link rel="shortcut icon" href="https://raw.githubusercontent.com/Chama-Nois/Chama-Nois/Joilton/imagens/icon.png"
		type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<header class="rounded-bottom" style="background-color: #ff9900;">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" th:href="@{/home}">
				<img th:src="@{https://raw.githubusercontent.com/Chama-Nois/Chama-Nois/Joilton/imagens/icon.png}" alt=""
					width="100">

			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav text-center mx-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.html" target="_self">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/produtos}" target="_self">PRODUTOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/empresas}" target="_self">EMPRESAS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contato.html" target="_self">CONTATO</a>
					</li>
				</ul>
				<span class="navbar d-inline-block float-left">
					<a href="entrar.html" class="btn btn-outline-dark mr-3" target="_self">ENTRAR</a>
				</span>
				<span class="navbar d-inline-block float-right">
					<a href="cadastro.html" class="btn btn-outline-dark" target="_self">CADASTRAR</a>
				</span>
			</div>
		</nav>
	</header>


	<div class="container mt-3">
		<a class="btn btn-warning btn-lg btn-block mb-2" th:href="@{/produtos/novo}">Adicionar Produto</a>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div th:each="produto : ${produtos}" class="col-md-4 d-flex">
				<div class="p-2 border flex-fill mb-4">
					<img class="product-image mx-auto d-block" th:src="${produto.imgUrl}" alt="Imagem do Produto">
					<h3 class="product-title text-center" th:text="${produto.nomeProduto}"></h3>
					<p class="text-center" th:text="${produto.descricaoProduto}"></p>
					<p class="lead font-weight-bold"><strong th:text="'R$ ' + ${produto.valorProduto}"></strong></p>
					<a class="btn btn-warning">Comprar Agora</a>
					<a class="btn btn-primary" th:href="@{'/produtos/editar/' + ${produto.idProduto}}">Editar</a>
					<a class="btn btn-danger" th:href="@{'/produtos/deletar/' + ${produto.idProduto}}">Excluir</a>
				</div>
			</div>
		</div>

	</div>

	<div class="rodape mt-5">
		<footer class="text-black text-center p-5" style="background-color: #ff9900;">
			<div class="container">
				<div class="row">

					<div class="col-md-4">
						<h5>Informações :</h5>
						<p>Sobre Nós</p>
						<p>Política de Privacidade</p>
						<p>Termos de Serviço</p>
					</div>

					<div class="col-md-4 d-flex">
						<div class=" mx-auto mt-4">
							<img src="https://raw.githubusercontent.com/Chama-Nois/Chama-Nois/Joilton/imagens/icon.png"
								alt="" width="75">
						</div>
					</div>
					<div class="col-md-4">
						<h5>Contato :</h5>
						<p>Email: chamanois@gmail.com</p>
						<p>Telefone: (99) 9361-4814</p>
					</div>

				</div>
				<hr>
				<p>Todos os direitos reservados &copy;</p>
			</div>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>

</html>

</html>